html, body {
    margin: 0 !important;
    padding: 0 !important;
}

body {
    color: #333;
    overflow: hidden;
}

ul {
    margin: 0;
    padding: 10px 15px;
}

.panel-popup {
    width: 350px;
}

.panel-settings {
    width: 600px;
}

.panel-section {
    border-bottom: 1px solid #e5e5e5;
    padding: 15px;
}

.logo {
    width: 100%;
    height: 100%;
}
.section-logo {
    width: 75%;
}
.section-settings {
    width: 23%;
    text-align: right;
}

.section-logo,
.section-options {
    display: inline-block;
}

.section-options {
    vertical-align: top;
    width: 23%;
    text-align: right;
}

.processing {
    margin-top: 15px;
}

/* TRACK INFO */

.section-info {
    display: inline-block;
    vertical-align: top;
    width: 246px;
}

.song-title,
.song-artist,
.song-album {
    margin: 0;
    padding: 0;
    margin-bottom: 5px;
}

.song-artist {
    font-weight: normal;
}

.song-album {
    color: #8f8f8f;
    font-weight: lighter;
}

.section-graphic {
    display: inline-block;
    width: 60px;
    height: 60px;
    text-align: center;
    border-radius: 33px;
    margin-right: 10px;
}

/* CONTROLS */

.panel-section-footer {
    padding: 0;
    height: 40px;
}

.panel-section-footer,
.section-footer-button {
    border: 0;
    margin: 0;
}

.section-footer-button {
    width: 20%;
    display: inline-block;
}

.section-footer-button:first-child {
    border-bottom-left-radius: 3px;
}

.section-footer-button:last-child {
    border-bottom-right-radius: 3px;
}


.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 20%;
    font-size: 14px;
    font-weight: 600;
    font-weight: 800;
}

.icon {
    height: 16px;
    width: 11px;
}

.icon--larger {
    height: 16px;
    width: 20px;
}

.icon--xl {
    height: 25px;
    width: 25px;
}

.icon--xxl {
    width: 50px;
    height: 60px;
    margin: auto;
}

/* VOLUME CONTROL */
#volume-changer[show=true] {
    display: block;
}

#volume-changer[show=false] {
    display: none;
}

input[type=range][orient=vertical]
{
    writing-mode: bt-lr; /* IE */
    -webkit-appearance: slider-vertical; /* WebKit */
    width: 4px;
    height: 75px;
    padding: 0;
    border-radius: 6px;
    background-color: #e5e5e5;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    position: absolute;
    bottom: 40px;
    right: 32px;
}

/* Remove ugly dotted line for input range in Firefox */
input[type=range]::-moz-focus-outer {
    border: 0;
}

.u-inline {
    display: inline-block;
}

.u-mr {
    margin-right: 15px;
}

.input, .button--submit {
    border-radius: 3px;
    padding: auto 10px;
    line-height: 1.25;
    font-size: 16px;
    border: 1px solid #e5e5e5;
}

.input { width: 100%; }

.u-green-bg {
    background-color: #7DC265;
}

.u-theme-orange {
    background-color: #F5AC35;
}

.u-theme-orange:hover {
    background-color: #bb7709;
}

.u-theme-green {
    color: #fff;
    background-color: #7DC265;
    transition: background-color .2s ease;
}

.u-theme-green:hover {
    background-color: #005256;
}

.u-va-bottom {
    vertical-align: bottom;
}

.u-va-top {
    vertical-align: top;
}

.input--error {
    border-color: #f66;
}

.field-container {
    width: 77%;
    margin-bottom: 10px;
}
